<header class="header">
  <div id="st-trigger-effects">
    <button data-effect="st-effect-2"><%= image_tag "menu.svg", class: 'stacker' %></button>
  </div>
  <h1 class="codrops-header">FreshFinder <span>Find the farmer's markets near you...</span>
  </h1>
</header>
