<div id="st-container" class="st-container">
  <nav class="st-menu st-effect-2" id="menu-2">
    <h2 class="icon icon-stack">Results</h2>
    <div class="body row scroll-y">
      <ul class="listings">
      </ul>
    </div>
  </nav>

  <div class="st-pusher">
    <div class="st-content">
      <div id='map'></div>
        <a id='geolocate' class=''></a>
      <div class="st-content-inner">
        <header class="header">
          <div id="st-trigger-effects">
            <button data-effect="st-effect-2"><%= image_tag "menu.svg", class: 'stacker' %></button>
          </div>
          <h1 class="codrops-header">FreshFinder <span>Find the farmer's markets near you... </span></h1>
        </header>
        <div class="main clearfix">

        </div>
      </div>
    </div>
  </div>
</div>


