<div id="st-container" class="st-container">
  <nav class="st-menu st-effect-2" id="menu-2">
    <h2 class="icon icon-stack">Results</h2>
    <div class="body row scroll-y">
      <ul class="listings">
      </ul>
    </div>
  </nav>

  <div class="st-pusher">
    <div class="md-modal md-effect" id="modal">
      <div class="md-content"></div>
        <button class="modal-close">x</button>
    </div>

    <div class="st-content">
      <div id='map'></div>
      <div class="st-content-inner">

        <%=  render partial: "header" %>
        
        <div id="search-box">
          <input id="search-input" type="text" placeholder="Search for a market..."></input>
          <input id="search-button" type="submit" value="Search">
        </div>
        <!-- <div class="main clearfix">
        </div> -->
      </div>
    </div>
  </div>
</div>


