/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require demo
 *= require component
 *= require map
 *= require_self
 */

/*------------------ home page ----------------*/
body {
  margin:0;
  padding:0; }

.stacker {
  width: 20px;
  height: 20px;
  }

/*---------------  side bar ---------------------*/
.smaller{
  font-size: 8px;
  color: #000;
}
.body.row { top: 75px; bottom: 50px; }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }


.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
background: #962626;
border-radius: 10px;
box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}

/*---------------------- modal ------------------------*/
#modal {
  position: absolute;
  width: 77.5%;
  right: 300px;
  z-index: 100;
  padding: 20px;
  height: 100%;
  background: url(opacitydark.png);
  border: 1px solid #333; 
}

.modal-close button {
  display: block;
  margin: 0 auto;
  font-size: 0.8em;
}

.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.md-content {
  color: #fff;
  background: #e74c3c;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}












