/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require demo
 *= require component
 *= require map
 *= require_self
 */

/*------------------ home page ----------------*/
body {
  margin:0;
  padding:0; }

.stacker {
  width: 20px;
  height: 20px;
  }

/*---------------  side bar ---------------------*/
.smaller{
  font-size: 8px;
  color: #000;
}
.body.row { top: 75px; bottom: 50px; }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }


.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
background: #962626;
border-radius: 10px;
box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}

/*---------------------- show ------------------------*/

.show-page div#map img{
  width: 300px;
  height: 300px;
  top:0;
  bottom:0; 
  z-index: 99;
}

.show-page .directions {
  margin: 0;
  font-size: 1.5em;
  text-transform: capitalize;
  margin-right: 10%;
  float: right;
  font-weight: 300;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

.show-page h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

.show-page .address{
  margin: 0;
  padding: 0.2em;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 300;
  opacity: 0.8;
}

.show-page div.time, div.season {
  margin: 0;
  padding: 0.4em;
  padding-right: 2em;
  text-align: left;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 300;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

.show-page div.payments {
  margin: 0;
  padding: 0.4em;
  padding-right: 2em;
  text-align: left;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 300;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

.show-page div.products {
  margin: 0;
  padding: 0.4em;
  padding-right: 2em;
  text-align: left;
  font-size: 2em;
  text-transform: capitalize;
  font-weight: 300;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

.show-page img{
  height: 1.2em;
  width: 1.2em;
  padding: 10px auto;
}

button.show-page  {
  display: block;
  margin: 0 auto;
  font-size: 1em;
  z-index: 101;
  background: #fff;
  padding:1em;
  position: absolute;
  top: 10px;
  line-height:0.25em;
  right: 420px;
}
