/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require demo
 *= require component
 *= require map
 *= require_self
 */

/*------------------ home page ----------------*/
body {
  margin:0;
  padding:0; }

.stacker {
  width: 20px;
  height: 20px;
  }

/*---------------  side bar ---------------------*/
.smaller{
  font-size: 8px;
  color: #000;
}
.body.row { top: 75px; bottom: 50px; }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }


.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
background: #962626;
border-radius: 10px;
box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}

/*---------------------- show ------------------------*/

div.show-page {
  background: url(Farmers-Market-2.jpg) no-repeat center center;
  min-height: 100%;
  background-size:cover;
}

header.show-page-header {
  text-align: center;
  background-image: url(opacitydark.png);
  padding-top: 3em;
}

.show-page-header h1 {
  margin: -1em;
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.4;
}

.show-page-header span {
  padding: 0 0 0.6em 0.1em;
  font-size: 60%;
  color: #aca89a;
}

#page-container {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 50px;
  width: 750px;
}

div#show-content {
  background: url(opacitydark.png);
  width: 750px;
  /*border: 25px;*/
  margin: 0 auto;
  z-index: 999;
  height: 100%;
}

.show-column1 {
  -moz-column-count:2; 
  -webkit-column-count:2; 
  column-count:2;
  width: 720px;
  height: 200px;
  margin: 15px;
}

.show-column2 {
  -moz-column-count:2; 
  -webkit-column-count:2; 
  column-count:2;
  width: 720px;
  height: 150px;
  margin: 15px;
}

.show-page div#map img{
  position: relative;
  width: 750px;
  height: 300px;
  padding: 10px auto;
}

.show-page #directions {
  width: 750px;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1em;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  background: url(opacitydark.png);
}

.show-page h3.name {
  margin: 0 3% 0 3%;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
}

.show-page .address{
  margin: 0;
  padding: 0.2em;
  text-align: center;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 300;
}

.show-page div.time, 
.show-page div.season, 
.show-page div.payments, 
.show-page div.products {
  text-align: left;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 300;
  padding: 5px;
  margin: 0;
}

.market-reviews h2 {
  margin: 3% 25% 0 25%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  background: url(opacitydark.png);
}

div.reviews-summary {
  height: 30em;
}
/*=--------------- review form -------------------*/
.cbp-mc-form {
  width: 750px;
  margin: 0 auto;
  position: relative;
}

div.review-form {
  background: url(opacitydark.png); 
  margin: 0;
  padding: 25px;
  text-align: left;
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: 300;
  border-radius: 3px 3px 0 0;
}

.review-form h3.form-header {
  text-align: center;
  font-weight: 300;
  }

button#close-form {
  float: right;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 3px;
  margin-left: 3px;
}  

button#submit {
} 

.cbp-mc-column1 {
  padding: 10px;
  width: 350px;
  float: left;
}

.cbp-mc-column2 {
  padding: 10px;
  width: 350px;
  float: left;
}

.cbp-mc-form label {
  display: block;
  padding: 40px 5px 5px 2px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
 
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  /*line-height: 10px;*/
  font-size: 20px;
  /*padding: 5px 10px;*/
  color: #fff;
  /*display: block;*/
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
}
 
.cbp-mc-form input:focus,
.cbp-mc-form textarea:focus,
.cbp-mc-form label:active + input,
.cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
}
 
.cbp-mc-form select:focus {
    outline: none;
}

button.show-page  {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 1em;
  z-index: 101;
  background: #fff;
  padding:1em;
  position: absolute;
  top: 10px;
  line-height:0.25em;
  right: 420px;
}
