/** ------------------- map --------------------- */
#mappy { 
  position:absolute;
  top:0;
  bottom:0; 
  width:100%; 
}

/*------------- popup ----------------*/

.leaflet-popup-content img.wheat {
  background: image-url('wheat.png') no-repeat;
  width: .5em;
  height: 4em;
  float: left;
  padding-right: 4em;
  position: relative;
}

 h4.namer a{
  font-size: 1.1em;
  line-height:0px;
  text-align:left;
  text-transform: uppercase;
  font-family: 'Lato', Calibri, Arial, sans-seriff;
}

div.leaflet-popup-content {
  margin: 10px 10px 10px 10px;
  padding: 0;
  }

.addressy {
  font-size:16px;
  line-height:5px;
  text-align:right;
  color: #000;
  font-family: 'Lato', Calibri, Arial, sans-seriff;
}

span.location {
  font-size:12px;
  font-family: 'Lato', Calibri, Arial, sans-seriff
}

.leaflet-popup-content {
  margin:0;
  background: #F0FFF0;
  border-radius: 5px;
  }


