<div class="market-reviews">
  <hr>
  <q><span class='gigantic'><%= review.content %></span></q>

  <div class='gravatar'></div>
    <% unless review.email.empty? %>
      <h2 class="reviewer-email">( <%= review.email %> )</h2>
    <% end %>
    <% unless review.name.empty? %>
      <h2 class="reviewer">~ <%= review.name %></h2>
    <% end %> 
<br>
