<div class="market-reviews">
  
  <q><span class='gigantic'><%= review.content %></span></q>


<div class='reviewer-profile'>
  <% unless review.name.empty? %>
    <span class="reviewer">- <%= review.name %></span>
  <% end %>
</div>
