<div class="review">
  <h2 class="review-title">
    <% if review.title %>
      <%= review.title %>
    <% end %>
  </h2>
  <p class='content'><%= review.content %></p>
    <% if review.name %>
      <p class="reviewer">- <%= review.name %></p>
    <% end %>
</div>
